.header
  .header__user
    .header__user__name
      ユーザー名
    .header__user__logo
      myblog
    .header__user__function
      .header__user__function__sign-in
        signin
      .header__user__function__sign-out
        signout
      .header__user__function__new
        new

.main
  .main__box
    .main__box__article
      本文
    .main__box__function
      .main__box__function__show
        show
      .main__box__function__edit
        edit
      .main__box__function__destroy
        destroy