.blogs {
	z-index: 0;
	background-color: #FFFFDD;
    width: 100vw;
    height: 100vh;
    background-color: pink;
    &__box{
    	display: flex;
    	height: 10vh;
    	width: 100vw;
    	border-bottom: 1px solid red;
    	line-height: 10vh;
    	text-align: center;
    	position: relative;
    	top: 12vh;
    	&__topic {
    		font-size: 30px;
    		position: absolute;
    		color: red;
    		top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
    	}
    	&__username {
    		color: white;
    		font-size: 20px;
            position: absolute;
            right: 0;
            right: 5vw;
    	}
    }
}